<select class="form-control">
  <option value="">Choose Your Dancer</option>
    {{#each good}}
      <option value="{{@index}}" name="{{name}}">
        <h3>{{name}}</h3></option>
    {{/each}}
</select>
